@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	/* cursor: default; */
}

@layer base {
	body {
		@apply bg-primaryBackground dark:bg-darkPrimaryBackground font-inter text-contrastPrimaryColor dark:text-darkContrastPrimaryColor;
	}
}

@layer components {
	.wrapper {
		@apply w-screen relative flex overflow-hidden;
	}
}

@layer components {
	.text {
		@apply w-[90vw] h-[11vw] flex justify-end items-center uppercase font-inter opacity-[0.08] font-semibold tracking-[-0.5vw] text-textHeadersLarge text-contrastPrimaryColor dark:text-darkContrastPrimaryColor;
	}
	.intro-text {
		@apply opacity-100;
	}
}

@layer components {
	.menu-line {
		@apply absolute left-0 inline-block h-[2px] w-full rounded-[10px] bg-tertiaryColor;
	}
	.page-links {
		@apply flex justify-end w-[90%] gap-[4vw];
	}
	.page-links-mobile {
		@apply flex max-L:flex-col max-L:fixed max-L:right-0 max-L:top-0 max-L:bg-primaryColor max-L:dark:bg-darkPrimaryColor max-L:h-screen w-[70%] md:w-[40%] max-L:py-[15vh] max-L:px-[5vw] max-L:shadow-[-1px_4px_21px_rgba(0,0,0,0.15)];
	}
}

@layer components {
	.section-header {
		@apply absolute right-1/2 text-[15vw] sm:text-[10vw] translate-x-1/2 lg:translate-x-0 lg:right-[13vw] xl:right-[16vw] top-10 lg:top-[10vh] opacity-30 w-max capitalize font-exo;
	}
	.buttons {
		@apply flex items-center justify-center w-full px-3 py-2 rounded-md border border-tertiaryColor text-textBody font-exo font-thin hover:font-normal hover:text-tertiaryColor transition-all duration-200 ease-in-out;
	}
}

@layer components {
	.paragraph-heading {
		@apply text-textHeaderSmall lg:text-[1.5vw] py-[3vh] sm:py-0 mb-4 text-tertiaryColor font-exo;
	}
	.project {
		@apply opacity-100;
	}
	.carousel-button {
		@apply absolute flex items-center justify-center rounded-full bg-tertiaryColor w-8 h-8 top-1/2 -translate-y-1/2;
	}
	.tech-item {
		@apply rounded-full py-1 px-3 flex flex-wrap gap-2 items-center justify-center  text-[12px];
	}
	.tech-group {
		@apply opacity-100;
	}
	.project-link-button {
		@apply w-6 h-6 rounded-full flex items-center justify-center bg-[#57a74374];
	}
}

@layer components {
	.contact-info {
		@apply flex items-center gap-3 lg:text-xl;
	}
	.icon-contact {
		@apply h-5 w-5;
	}
}
